@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;600;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

:root {
    --purple: #783BFF;
    --green: #6AC75A;
    --grey: #65676E;
    --grey1: #A9ABBD;
    --grey2: #D9DCE3;
}

/* Common */
.w-100 {
    width: 100%;
}

h1 {
    font-size: 72px;
    font-weight: 400;
}

h2 {
    font-size: 62px;
    font-weight: 400;
}

.mt-95 {
    margin-top: 95px;
}
.mt-40{
    margin-top: 40px;
}
.mt-80 {
    margin-top: 80px;
}
.mb-80{
    margin-bottom: 80px;
}
.mt-160{
    margin-top: 160px;
}
.mb-20{
    margin-bottom: 20px;
}
.mb-56{
    margin-bottom: 56px;
}

/* Header */
#header .logo {
    font-size: 20px;
    font-weight: 900;
}

#header .cart a {
    text-decoration: none;
    color: #000;
}

#header .cart-number {
    margin-left: 8px;
    font-size: 14px;
    padding: 4px 10px;
    border-radius: 50%;
    background-color: var(--green);
    color: #fff;
}

/* Shop */
#shop h1 {
    font-size: 72px;
}

#shop .shop-content-1 {
    font-size: 22px;
}

#shop .shop-content-2 {
    font-size: 22px;
    margin-top: 140px;
}
#shop .shop-btn {
    background-color: var(--green);
    font-weight: 600;
    color: #fff;
    padding: 8px 37px;
}
#shop .shop-quality-btn {
    padding: 6px 0;
    padding: 0;
    text-align: center;
    line-height: 46px;
}
#shop .shop-quality{
    border-radius: 5px;
    border: 1px solid var(--grey1);
}
#shop .up-down-btn {
    text-align: center;
    background-color: var(--grey2);
    color: var(--grey);
    padding: 6px 0;
    margin: 0px;
}
#shop .up-down-btn:hover{
    cursor: pointer;
}


/* Product */
#product .product-container h2 {
    margin-bottom: 48px;
}
#product .product-container h3{
    margin: 24px 0;
    font-size: 24px;
}
#product .product-container p{
    font-size: 18px;
}
/* Service */
#service .service-heading{
    text-align: center;
}
#service .service-desc{
    font-size: 22px;
    text-align: center;
}
#service .service-container{
    padding: 0 40px;
}
#service h3{
    font-size: 24px;
    margin: 16px 0;
}
#service p{
    font-size: 18px;
    line-height: 1.6;
}
#service .service-btn{
    background-color: var(--green);
    font-weight: 600;
    color: #fff;
    padding-left: 37px;
    padding-right: 37px;
    font-size: 16px;
}
/* Price */
#price .price-container{
    padding: 32px;
    border: 1px solid var(--grey1);
    border-radius: 8px;
}
#price .price-container button:hover{
    background-color: var(--purple);
    color: #fff;
}
#price .price-heading{
    text-align: center;
}
#price .price-desc{
    font-size: 22px;
    text-align: center;
    color: var(--grey);
}
#price h4{
    font-size: 24px;
}
#price .price-list .price-list-desc{
    font-size: 18px;
    color: var(--grey);

}
#price .price-annual{
    font-size: 14px;
    color: var(--grey);
}
#price .price-annual p:nth-child(1),
#price .price-annual p:nth-child(2){
    margin-bottom: 4px;
}
#price .price-annual p:nth-child(1){
    margin-top: 8px;
}
#price .price-number{
    font-size: 48px;
}
#price .price-btn{
    color: var(--purple);
    min-width: 100%;
    border: 1px solid var(--grey1) ;
}
/* Contact */
#contact .contact-bg{
    background-color: var(--grey1);
}
#contact .contact-margin-0{
    margin-left: -12px;
    margin-right: -12px;
}
#contact .contact-content{
    color: #fff;
}
#contact .contact-content p:nth-of-type(1){
    font-size: 24px;
    margin-bottom: 24px;
}
#contact .contact-content p:nth-of-type(2){
    font-size: 22px;
    margin-bottom: 32px;
}
#contact .input-icon-container{
    position: relative;
}
#contact .input-icon{
    position: absolute;
    left: 24px;
    color: var(--grey);
    top: calc(50% - (23px/2));
}
#contact form input{
    padding: 12px 0;
    width: 350px;
}
#contact .btn-download{
    background-color: var(--purple);
    color: #fff;
    padding: 12px 0;
    width: 350px;
    margin-top: 12px;
}
/* Footer */
/* Footer top */
#footer{
    font-size: 18px;
}
#footer .footer-top-btn{
    background-color: var(--green);
    color: #fff;
}
#footer .footer-top .ft-about,
#footer .footer-top .ft-blog,
#footer .footer-top .ft-contact{
    list-style-type: none;
    padding-left: 0;
}
#footer .footer-top .ft-about li,
#footer .footer-top .ft-blog li,
#footer .footer-top .ft-contact li{
    padding: 4px;
}
#footer .footer-top .ft-contact li:nth-of-type(2){
    padding-top: 16px;
}
#footer .footer-top .ft-about a,
#footer .footer-top .ft-blog a,
#footer .footer-top .ft-contact a{
    text-decoration: none;
    color: #000;
}
#footer .footer-top .f-top-p{
    font-weight: bold;
}
#footer .footer-top div.col-4 p{
    padding-right: 52px;
    line-height: 1.6;
    padding-bottom: 16px;
}
#footer .footer-bottom div.col p{
    font-size: 16px;
    color: var(--grey);
}




